@import '../../theme.scss';

@mixin buttonStyle {
	width: 150px;
	height: 40px;
	font-weight: bold;
	border: 1px solid $theme_color;
	background-color: white;
	color: $theme_color;
	cursor: pointer;
}

@mixin inputStyle {
	width: 100%;
	border: none;
	height: 30px;
	background-color: transparent;
	box-sizing: border-box;
	transition: 400ms all ease-in-out;
	outline: none;
}

@mixin labelStyle {
	width: 100%;
	text-align: left;
	color: $text_colot;
}

.login__container {
	width: 100vw;
	height: 100vh;
	display: flex;
	.login__back {
		color: rgb(104, 104, 104);
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 20px;
		left: 20px;
		p {
			font-size: 15px;
			margin-left: 10px;
		}
	}
	.login__form {
		width: 50%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.login__box {
			width: 65%;
			margin: 40px 0;
			input {
				height: 2.4375em;
			}
		}
		.rememberMe {
			color: rgba(0, 0, 0, 0.61);
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			display: flex;
			align-items: center;
			font-size: 12px;
			justify-content: space-between;
			.rememberMe_L {
				display: flex;
				align-items: center;
			}
			input {
				margin: 0 8px;
			}
			span {
				padding-left: 33px;
			}
		}
		section {
			margin-top: 30px;
			width: 80%;

			p {
				text-align: center;
				font-family: 'Questrial', sans-serif;
				color: rgba(0, 0, 0, 0.6);
				line-height: 30px;
			}
		}
		img {
			width: 300px;
		}

		.login__btnWrapper {
			width: 80%;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				@include buttonStyle();
				margin: 10px;
				width: 222px;
				height: 58px;
				&:first-child {
					background-color: $theme_color;
					color: white;
					margin-right: 7px;
				}
			}
		}
		.login__footer {
			& p {
				display: flex;
				justify-content: center;
				font-size: 13px;
				color: #000;
				font-family: 'Roboto', sans-serif;
				margin-top: 18px;
			}
		}
	}
	aside {
		width: 50%;
		height: 100vh;
		background-image: url('../../assets/Login-banner.png');
		background-size: cover;
		background-position: center center;
		position: relative;

		.login__overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 50vw;
			height: 100vh;
			background-color: #474747;
			backdrop-filter: blur(15px);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.login__textContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 30px;
				width: 80%;
				.login__text {
					padding: 30px;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-flow: column;
					margin-top: 50px;
					.login__quotMark {
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						padding-bottom: 30px;
					}
					.login__rightAngleMark {
						position: absolute;
						bottom: 0;
						right: 10%;
					}
					& p {
						width: 70%;
						font-size: 20px;
						font-family: Quicksand;
						color: $theme_color;
						display: flex;
					}
				}

				.Login__hero {
					width: 70%;
					min-width: 300px;
				}
			}
		}
	}
}

@include media($phone) {
	.login__container {
		.login__form {
			width: 100vw;
			.login__box {
				width: 80%;
				margin-bottom: 20px;
			}
			.login__btnWrapper {
				button {
					height: 80%;
					margin: 0;
				}
			}
			.login__footer {
				font-size: 13px;
			}
		}
		aside {
			display: none;
		}
	}
}

@include media($tablet-protrait) {
	.login__container {
		.login__form {
			width: 100vw;
			.login__box {
				width: 80%;
				margin-bottom: 20px;
			}
			.login__btnWrapper {
				button {
					height: 80%;
					margin: 0;
				}
			}
			.login__footer {
				font-size: 13px;
			}
		}
		aside {
			display: none;
		}
	}
}
