@import '../../theme.scss';

.changePassword {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	width: 100%;
	border-bottom: 2px solid #e7e7e7;
	gap: 1rem;
	margin-top: 0.5rem;
	h3 {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 21px;
		color: #000000;
	}
	label {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
	}
	span {
		color: red;
	}
	.detail {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 1.3rem;
		color: #7a7a7a;
		word-spacing: 4px;
		margin: 0;
	}
	.typePassword {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 16px;
		color: #5d6679;
		width: 50%;
	}
	.reset__button {
		background-color: $text-white-color;
		color: $theme_color;
		border: 1px solid $theme_color;
		border-radius: 5px;
		padding: 0.6rem 0.8rem;
		font-weight: 600;
		height: 43px;
		align-self: end;
		margin-right: 3rem;
		width: 150px;
		font-size: 15px;
		&:hover {
			background-color: $theme_color;
			color: $text-white-color;
			border: none;
		}
	}
}
@include media($phone) {
	.changePassword {
		margin-top: 0rem;
		.typePassword {
			width: 100%;
		}
		.reset__button {
			align-self: center;
			margin-right: 0px;
			border-color: $theme_color;
		}
	}
}
