@import '../../theme.scss';

.footer {
	background-color: #f6f7fb;
	padding: 3rem;
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	a {
		color: black;
	}
	h4 {
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 1.5rem;
	}
	.footer_content {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.3333333333333333;
	}
}
@include media($phone) {
	.footer {
		padding: 2rem;
		margin-top: 2rem;
		justify-content: flex-start;
		flex-direction: column;
		.footer_content {
			line-height: 2;
		}
	}
}
