@import '../theme.scss';

.fullPage {
	display: flex;
	height: 100%;
	overflow: hidden;
	.contentPage {
		padding: 1% 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow-y: scroll;

		@include media($phone) {
			padding: 0 1rem;
			width: 100%;
		}
	}
}
.inner-page {
	max-width: $page-max-width;
	width: 100%;
	padding-bottom: 2rem;
	h1 {
		padding-top: 6rem;
	}
	& > h2 {
		color: black;
	}
}
@include media($phone) {
	.contentPage {
		width: 100% !important;
	}
}
